<footer>
    <div id="foot"> 
        <div class="center footer"> 
        <div class='copy'>&copy; Copyright 2012 5ynL0rd <a href="http://void-labs.appspot.com">Void-labs, Inc</a></div> 
        </div>
    </div>
</footer>
</body> 
</html> 
