{% include "root/header.html" %}

<script type="text/javascript">
$(document).ready(function(){
    sendMessage = function(msg) {
        $.ajax({
            type: "POST",
            url:"{% url channel_test %}",
            data: {'msg':msg,'channel_id':'{{channel_id}}'},
            beforeSend: function(){
                $('.loading').html('Loading..');
            },
            success: function(){
                $('.loading').html('');
            }
        });
    };
    sendNotif = function(msg) {
        $.ajax({
            type: "POST",
            url:"{% url channel_test %}",
            data: {'notif':msg,'channel_id':'{{channel_id}}'},
            beforeSend: function(){
                $('.loading').html('Loading..');
            },
            success: function(){
                $('.loading').html('');
            }
        });
    };

    closeClient = function(msg) {
        $.ajax({
            type: "POST",
            url:"{% url channel_test %}",
            data: {'remove':msg},
        });
    };
    onMessage = function(msg) {
        $('#feed').prepend(JSON.parse(msg.data)['data']+'<br>');
        var key = JSON.parse(msg.data)['key'];
    };

    onOpened = function() {
        sendNotif('--CONNECTED--');
    };

    onError = function(){
        sendNotif('--ERROR--');
    }
    onClose = function(){
        window.location.reload();
    }

    channel = new goog.appengine.Channel('{{ token }}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;

    $('button[name=send]').click(function(){
        sendMessage($('input[name=test]').val());
        $('input[name=test]').val('');
    });

    $('input[name=test]').bind('keypress', function(e) {
        if(e.keyCode==13){
            if ($('input[name=test]').val() != '') {
                sendMessage($('input[name=test]').val());
                $('input[name=test]').val('');
            } else {
                $('#loading').text('Please fill the form');
            }
        }
    });
});
</script>
<section id="home">
    <div id="from" page="main"></div>
    <h3>
        Realtime TCP Socket Sample using Django, Channel API & Google App Engine
    </h3>
    <ul>
         <li>
             <div class="loading"></div>
             <div id="feed"></div>
         </li>
         <li>    
            <input type="text" size="100" name="test"></input><button name="send" class="button">Send</button>
            <input type="hidden" name="id"></input>
         </li>
    </ul>
</section>

{% include "root/footer.html" %}
